.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.day {
  border: 1px solid #ccc;
  padding: 10px 40px;
  text-align: center;
}

.event {
  background-color: #007bff;
  color: white;
  padding: 10px;
  width: 8rem;
  height: 8rem;
}
