header {
  background: white;
  padding: 0;
  border-bottom: 1px solid #525252;
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 10;
}

a {
  color: #949494;
}

a:hover {
  background-color: #525252;
  color: white;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 6rem;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 0.55rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav ul li {
  padding: 0.75em;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-left: 4rem;
  }
  .container {
    justify-content: center;
  }
}
